:root {
    --mg-blue: #019ee2;
    --mg-red: #e40717;
    --mg-grey: #1b1b1b;
    --mg-background: white;
}

body {
	background-color: var(--mg-background);
    color: var(--mg-blue);
}

img {
    width: 100%;
}

hr {
    color: var(--mg-blue);
    width: 80%;
    height: 3px;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

h3 {
    text-align: center;
}

footer {	
	width: 100%;
	background-color: #f5f3f0;
	overflow: hidden;
	min-height:6em;
	padding-bottom: 1em;
	border-top:solid 1px #388f87;
}	

.highlights {
	width: 100%;
	padding: 0px;
	position: relative;
}