:root {
    --mg-blue: #019ee2;
    --mg-red: #e40717;
    --mg-grey: #1b1b1b;
    --mg-background: white;
}

body {
	background-color: var(--mg-background);
    color: var(--mg-blue);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    border-style: solid;
    border-color: var(--mg-grey);
    border-width: 5px;
    margin: 10px;
}

header {
    font-size: 23px;
}

section {
    margin-top: 0px;
    position: relative;
}

img {
    width: 100%;
}

hr {
    height: 3px !important;
    width: 90%;
    background-color: var(--mg-background) !important;
    border-top: 4px solid var(--mg-blue) !important;
    border-bottom: 4px solid var(--mg-red) !important;
}

a {
    padding-left: 3px;
}